bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.TedDocumentExtractorApi/.idea/encodings.xml
/.idea/.idea.TedDocumentExtractorApi/.idea/indexLayout.xml
/.idea/.idea.TedDocumentExtractorApi/.idea/misc.xml
/.idea/.idea.TedDocumentExtractorApi/.idea/vcs.xml
.idea/